#controls {
  background-color: #f6f6fe;
  margin-bottom: 16px;
}

input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.create-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.destroy-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

button {
  cursor: pointer;
}

#boxes {
  background-color: #f6f6fe;
  display: flex;
  gap: 44px;
  padding: 32px 28px 62px 32px;
  flex-wrap: wrap;
}
